.page-main__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    flex-direction: row;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vh;
    height: 1px;
    background-color: $catalog-grey;
    box-sizing: border-box;
    left: -20px;
    top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vh;
    height: 1px;
    background-color: $catalog-grey;
    box-sizing: border-box;
    left: -20px;
    bottom: 0;
  }
}

.page-main__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  text-align: left;
  box-sizing: border-box;
  padding-top: 27px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
