.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $basic-grey;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}
