$black: #000000;
$white: #ffffff;

$basic-green: #68b738;
$basic-grey: #f2f2f2;

$special-grey-light: #ebebeb;
$special-grey: #cdcdcd;
$special-grey-darken: #666666;
$special-grey-darker: #444444;
$special-dark-grey: #222222;
$example-grey: #eaeaea;
$catalog-item-grey: #111111;

$status_error: #ff8282;
