$black: #000000;
$white: #ffffff;

$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;

$special-grey-light: #ebebeb;
$special-grey: #cdcdcd;
$special-grey-darken: #666666;
$special-grey-darker: #444444;
$special-dark-grey: #222222;
$example-grey: #eaeaea;
$catalog-item-black: #111111;
$list-bar: #e6e6e6;

$catalog-grey: #d9d9d9;
$footer-bar-grey: #d9d9d9;
$form-bar: #d9d9d9;
$input-grey: #bababa;
$input-border-grey: #e7e7e7;
$catalog-more-grey: #d3d3d3;

$status_error: #ff8282;

$desktop-width: 1440px;
$tablet-width: 768px;
