.catalog {
  @media (min-width: $tablet-width) {
    padding-top: 30px;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -11px;
  }
}

.catalog__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.catalog__item {
  width: 280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin-top: 20px;
  padding-bottom: 24px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: $special-grey-light;
    right: -20px;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40px;
    margin-top: 0;
    margin-bottom: 60px;

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &::after {
      width: 324px;
      height: 430px;
      bottom: 0;
      left: 0;
      background-color: $basic-grey;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 62px;

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 62px;
    }

    &::after {
      width: 245px;
      height: 431px;
      bottom: 0;
      left: 0;
      background-color: $basic-grey;
      z-index: -1;
    }
  }
}

.catalog-item__img-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 50%;
    order: -1;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.catalog-item__img {
  width: 140px;
  height: 112px;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.catalog-item__title-link {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }
}

.catalog-item__title {
  grid-column: 2 /3;
  grid-row: 1 / 2;
  width: 76px;
  margin-top: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 159px;
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
    width: 145px;
  }
}

.catalog-item__parameters {
  grid-row: 2 / 3;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special-grey-darker;
  padding-top: 5px;
  padding-left: 3px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: 252px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 167px;
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog__button {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;

  &:hover {
    background-color: $basic-green-2;
  }

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    max-width: 168px;
  }
}

.catalog__button:active .catalog__button-text,
.catalog__button:focus .catalog__button-text {
  opacity: 0.3;
}

.catalog-additional__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: $basic-green-2;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.catalog-additional__button:active .catalog-additional__button-text,
.catalog-additional__button:focus .catalog-additional__button-text {
  opacity: 0.3;
}

.parameters-list__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: -2px;
  }

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special-grey;
    padding-bottom: 7px;
    padding-top: 7px;

    &:not(:last-child) {
      margin-bottom: -1px;
    }
  }
}

.item-more {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 78px;
  box-sizing: border-box;

  &::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 82px;
    padding-bottom: 36px;
    background-color: $white;
    border: 2px solid $basic-grey;
  }

  @media (min-width: $desktop-width) {
    width: 241px;
  }
}

.item-more__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $catalog-item-black;
  position: relative;
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;

  &::before,
  &::after {
    position: absolute;
    bottom: 44px;
    left: 50%;
    content: "";
    width: 2px;
    height: 30px;
    background-color: $catalog-more-grey;
  }

  &::before {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 25px;
    width: 136px;

    &::before,
    &::after {
      height: 60px;
      bottom: 93px;
    }
  }
}

.item-more__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $special-grey-darker;
  margin-top: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    width: 167px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 79px;
  }
}

.catalog__button--to-all {
  background-color: $basic-grey;
  color: $special-grey-darker;

  &:hover {
    background-color: $special-grey-light;
  }
}

.catalog-additional__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 895px 1fr;
    column-gap: 80px;
  }
}

.catalog-additional__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 36px 0;
  position: relative;
  width: 248px;
  margin-top: 25px;

  &::after {
    content: "";
    position: absolute;
    background-color: $basic-green;
    width: 100vw;
    height: 2px;
    top: 16px;
    z-index: -1;
    left: 100%;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 37px;
    width: 338px;
    margin-bottom: 79px;

    &::after {
      top: 22px;
      margin-left: 36px;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: $basic-green;
      width: 100vw;
      height: 2px;
      top: 22px;
      z-index: -1;
      right: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    padding-left: 0;
    margin-bottom: 80px;
  }
}

.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    width: 895px;
    margin-bottom: 86px;
  }
}

.additional-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid $special-grey;
  padding-top: 13px;
  padding-bottom: 19px;
  padding-left: 1px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: baseline;
    border: 1px solid $special-grey;
    padding-top: 25px;
    padding-bottom: 27px;
    padding-left: 38px;
    padding-right: 38px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    border-top: 1px solid $special-grey;
    border-bottom: 1px solid $special-grey;
    padding: 15px 0 15px 0;
  }
}

.additional-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    margin-bottom: 0;
  }
}

.additional-item___parameters {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $special-grey-darker;
  margin-bottom: 12px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    margin-bottom: 0;
  }
}

.additional-parameters__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.additional-parameters__item {
  padding-left: 1px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 243px;
  }
}

.additional-parameters__price {
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 49px;
    width: 44px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 80px;
    margin-left: 0;
    text-align: left;
  }
}

.gift {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 43px;
  margin-bottom: 35px;
  background-color: $basic-green;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 78px;
    padding-right: 124px;
    margin-bottom: 76px;
    padding-top: 57px;
    padding-bottom: 60px;
    background-image: url("../img/gift-photo-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-table@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    flex-direction: column;
    padding: 56px 0 42px 0;
    margin-bottom: 86px;
    background-image: url("../img/gift-photo-desktop.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.gift__img {
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 82px;
    margin-bottom: 0;
  }
}

.gift__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  width: 190px;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 161px;
    text-align: left;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
