.catalog__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog__list {

}

.catalog__item {

}

.catalog-item {

}

.catalog-item__title {

}

.catalog-item__img {

}

.catalog-item__parameters {

}

.catalog__button {

}

.item-more {

}

.catalog-additional {}

.catalog-additional__wrapper {}

.catalog-additional__list {}

.catalog-additional__item {}

.gift {}
