img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(0%);
          clip-path: inset(0%);
  clip: rect 0 0 0 0;
  overflow: hidden; }

@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("Oswald"), url("../../fonts/oswaldregular.woff2") format("woff2"), url("../../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-family: "Oswald";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("Oswald"), url("../../fonts/oswaldmedium.woff2") format("woff2"), url("../../fonts/oswaldmedium.woff") format("woff"); }

.page {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif; }

.page__body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #000000; }

.page-header {
  background-color: #ffffff;
  margin-top: 11px; }
  @media (min-width: 768px) {
    .page-header {
      margin-top: 24px; } }
  @media (min-width: 1440px) {
    .page-header {
      margin-top: 0; } }

.page-header__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .page-header__wrapper {
      width: 708px;
      justify-content: space-between; } }
  @media (min-width: 1440px) {
    .page-header__wrapper {
      width: 1220px;
      margin-top: 50px; } }

.page-header__logo {
  text-align: left;
  width: 195px; }
  .page-header__logo:hover {
    opacity: 0.8; }
  .page-header__logo:active, .page-header__logo:focus {
    opacity: 0.6; }
  @media (min-width: 768px) {
    .page-header__logo {
      width: 178px;
      height: 53px; } }
  @media (min-width: 1440px) {
    .page-header__logo {
      width: 204px;
      height: 60px; } }

.page-header__logo img {
  width: 191px;
  height: 38px; }
  @media (min-width: 768px) {
    .page-header__logo img {
      width: 175px;
      height: 52px; } }
  @media (min-width: 1440px) {
    .page-header__logo img {
      width: 202px;
      height: 59px; } }

.page-header__nav-toggle {
  position: relative;
  top: 10px;
  right: 0;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background: none; }
  @media (min-width: 768px) {
    .page-header__nav-toggle {
      display: none; } }

.page-header__nav--closed .page-header__nav-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000; }

/* .main-nav--opened  */
.page-header__nav--opened .page-header__nav-toggle {
  top: 16px;
  right: 0; }
  .page-header__nav--opened .page-header__nav-toggle::before, .page-header__nav--opened .page-header__nav-toggle::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: #000000; }
  .page-header__nav--opened .page-header__nav-toggle::before {
    transform: rotate(45deg); }
  .page-header__nav--opened .page-header__nav-toggle::after {
    transform: rotate(-45deg); }

.page-main__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative; }
  .page-main__wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    left: 0;
    top: 0; }
  .page-main__wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    box-sizing: border-box;
    left: 0;
    bottom: 0; }
  @media (min-width: 768px) {
    .page-main__wrapper {
      width: 708px;
      padding: 0 30px; }
      .page-main__wrapper::after, .page-main__wrapper::before {
        display: none; } }
  @media (min-width: 1440px) {
    .page-main__wrapper {
      width: 1220px;
      padding: 0 110px;
      flex-direction: row; } }

.page-main__wrapper--without-bottom-bar::after {
  display: none; }

.page-main__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
  padding-bottom: 37px;
  padding-top: 27px; }
  @media (min-width: 768px) {
    .page-main__title {
      font-size: 60px;
      line-height: 60px;
      padding-bottom: 83px;
      padding-top: 65px; } }
  @media (min-width: 1440px) {
    .page-main__title {
      padding-left: 0;
      padding-top: 74px; } }

.page-main__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 39px 0;
  text-align: left;
  width: 230px; }
  @media (min-width: 768px) {
    .page-main__text {
      font-size: 20px;
      line-height: 30px;
      width: 330px;
      padding-left: 39px;
      padding-bottom: 66px; } }
  @media (min-width: 1440px) {
    .page-main__text {
      padding-left: 0; } }

.main-nav {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  min-height: 66px;
  position: relative;
  width: auto; }

.main-nav__list {
  font-family: inherit;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 280px; }
  @media (min-width: 768px) {
    .main-nav__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 440px; } }
  @media (min-width: 1440px) {
    .main-nav__list {
      width: 480px; } }

.main-nav--closed {
  display: none; }
  @media (min-width: 768px) {
    .main-nav--closed {
      display: block; } }

.main-nav--opened {
  display: block;
  position: static; }

.main-nav__item {
  position: relative; }
  .main-nav__item::before {
    content: "";
    position: absolute;
    min-width: 320px;
    width: 100%;
    height: 1px;
    left: -20px;
    top: 0;
    background-color: #e6e6e6; }
    @media (min-width: 768px) {
      .main-nav__item::before {
        display: none; } }

.main-nav__item a {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 24px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  color: #000000; }
  .main-nav__item a:hover {
    opacity: 0.8; }
  .main-nav__item a:active {
    opacity: 0.6; }
  @media (min-width: 768px) {
    .main-nav__item a {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      padding-top: 12px;
      padding-bottom: 12px; } }
  @media (min-width: 1440px) {
    .main-nav__item a {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px; } }

@media (min-width: 1440px) {
  .main-nav__item--green-background a {
    color: #ffffff; } }

@media (min-width: 768px) {
  .main-nav__item--active {
    position: relative; }
    .main-nav__item--active::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: #68b738; } }

@media (min-width: 1440px) {
  .main-nav__item--green-background .main-nav__item--active::after {
    background: #ffffff; } }

.button {
  width: 100%;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: #68b738;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none; }

.promo {
  margin: 0;
  padding: 0; }
  @media (min-width: 1440px) {
    .promo {
      background: transparent;
      background-image: url("../img/promo-cat-desktop.jpg");
      background-origin: border-box;
      background-position: top right;
      background-repeat: no-repeat;
      margin-top: -116px;
      z-index: -1; } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
    .promo {
      background-image: url("../img/promo-cat-desktop@2x.jpg");
      background-origin: border-box;
      background-position: top right;
      background-size: 720px 694px;
      background-repeat: no-repeat;
      margin-top: -116px;
      z-index: -1; } }

.promo__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  text-align: center;
  background-image: url("../img/promo-cat.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .promo__wrapper {
      background-image: url("../img/promo-cat@2x.jpg"); } }
  @media (min-width: 768px) {
    .promo__wrapper {
      width: 708px;
      padding: 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-image: none;
      padding-bottom: 0;
      opacity: 1; } }
  @media (min-width: 1440px) {
    .promo__wrapper {
      width: 1220px;
      padding: 0 110px;
      padding-top: 52px; } }

.promo__title {
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px; }
  @media (min-width: 768px) {
    .promo__title {
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      line-height: 60px;
      color: black;
      text-align: left;
      width: 418px;
      margin-top: 62px;
      margin-left: 87px; } }
  @media (min-width: 1440px) {
    .promo__title {
      margin-left: 80px;
      margin-bottom: 0;
      margin-top: 125px; } }

.promo__slogan {
  margin: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px; }
  @media (min-width: 768px) {
    .promo__slogan {
      font-size: 20px;
      line-height: 20px;
      color: #000000;
      width: 285px;
      margin-top: 40px;
      margin-left: 87px;
      margin-bottom: 49px; } }
  @media (min-width: 1440px) {
    .promo__slogan {
      margin-left: 80px;
      margin-bottom: 52px;
      margin-top: 42px; } }

.promo__button {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .promo__button:hover {
    background-color: #5eaa2f; }
  @media (min-width: 768px) {
    .promo__button {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
      max-width: 244px;
      margin-top: 0;
      margin-left: 87px;
      z-index: 3; } }
  @media (min-width: 1440px) {
    .promo__button {
      margin-left: 80px;
      align-self: flex-start;
      margin-top: 0;
      padding: 15px 0; } }

.promo__button-text:active, .promo__button-text:focus {
  opacity: 0.3; }

@media (min-width: 768px) {
  .promo__img-container {
    order: 10; } }

.promo__img {
  margin-top: 0;
  z-index: 3;
  position: relative; }
  @media (min-width: 768px) {
    .promo__img {
      order: 3;
      width: 709px;
      height: 609px;
      margin-top: -71px; } }
  @media (min-width: 1440px) {
    .promo__img {
      width: 552px;
      height: 499px;
      margin-left: 276px;
      margin-top: -350px; } }

.cat-programs {
  margin-top: 82px; }

.cat-programs__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .cat-programs__wrapper {
      width: 708px;
      padding: 0 30px; } }
  @media (min-width: 1440px) {
    .cat-programs__wrapper {
      width: 1220px;
      padding: 0 110px;
      flex-direction: row; } }

.cat-programs__item {
  margin: 0;
  padding: 30px 33px 22px 20px;
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative; }
  @media (min-width: 768px) {
    .cat-programs__item {
      padding-left: 52px;
      padding-top: 77px;
      padding-bottom: 53px;
      flex-direction: column;
      align-items: flex-start; } }
  @media (min-width: 1440px) {
    .cat-programs__item {
      width: 570px;
      box-sizing: border-box; } }

.cat-programs__item:not(:last-child) {
  margin-bottom: 20px; }
  @media (min-width: 1440px) {
    .cat-programs__item:not(:last-child) {
      margin-bottom: 0;
      margin-right: 80px; } }

@media (min-width: 768px) {
  .cat-programs__item--cat-stand::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 211px;
    top: 81px;
    right: 63px;
    background-image: url("../img/cat-stand.svg");
    background-repeat: no-repeat;
    background-size: 100%; } }

@media (min-width: 1440px) {
  .cat-programs__item--cat-stand::after {
    display: none; } }

@media (min-width: 768px) {
  .cat-programs__item--cat-walk::after {
    content: "";
    position: absolute;
    width: 268px;
    height: 200px;
    top: 84px;
    right: 28px;
    background-image: url("../img/cat-walk.svg");
    background-repeat: no-repeat;
    background-size: 100%; } }

@media (min-width: 1440px) {
  .cat-programs__item--cat-walk::after {
    display: none; } }

.cat-programs__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: 71px; }
  @media (min-width: 768px) {
    .cat-programs__title {
      font-size: 36px;
      line-height: 36px;
      margin-left: 0; } }
  @media (min-width: 1440px) {
    .cat-programs__title {
      margin-left: 162px;
      margin-bottom: 72px; } }

.cat-programs__item--cat-stand .cat-programs__title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 129px;
  width: 50px;
  height: 53px;
  background-image: url("../img/cat-stand.svg");
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .cat-programs__item--cat-stand .cat-programs__title::before {
      display: none; } }
  @media (min-width: 1440px) {
    .cat-programs__item--cat-stand .cat-programs__title::before {
      display: block;
      background-size: 100%;
      width: 100px;
      height: 106px;
      right: 223px;
      top: -32px; } }

.cat-programs__item--cat-walk .cat-programs__title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 151px;
  width: 67px;
  height: 50px;
  background-image: url("../img/cat-walk.svg");
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .cat-programs__item--cat-walk .cat-programs__title::before {
      display: none; } }
  @media (min-width: 1440px) {
    .cat-programs__item--cat-walk .cat-programs__title::before {
      display: block;
      background-size: 100%;
      width: 134px;
      height: 106px;
      right: 249px;
      top: -32px; } }

.cat-programs__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 29px 0 23px 0;
  border-bottom: 1px solid #d9d9d9;
  color: #000000; }
  @media (min-width: 768px) {
    .cat-programs__description {
      padding-top: 24px;
      max-width: 377px;
      border-bottom: none;
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 1440px) {
    .cat-programs__description {
      padding-top: 0;
      max-width: 467px; } }

.cat-programs__link {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 19px;
  min-width: 34px;
  position: relative; }
  .cat-programs__link::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 10px;
    top: 26px;
    left: 100px;
    background-image: url("../img/icon-arrow.svg"); }
  .cat-programs__link:hover::after {
    background-image: url("../img/icon-arrow-long.svg"); }
  .cat-programs__link:active, .cat-programs__link:focus {
    opacity: 0.3; }
    .cat-programs__link:active::after, .cat-programs__link:focus::after {
      background-image: url("../img/icon-arrow-grey.svg"); }
  @media (min-width: 768px) {
    .cat-programs__link {
      padding-top: 24px; } }

.explanation {
  position: relative; }
  @media (min-width: 768px) {
    .explanation::after {
      content: "";
      min-width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      position: absolute;
      left: 0;
      bottom: 0; } }
  @media (min-width: 1440px) {
    .explanation::after {
      display: none; } }

.explanation__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 42px;
  position: relative; }
  @media (min-width: 768px) {
    .explanation__wrapper {
      width: 708px;
      padding: 0 30px;
      padding-bottom: 47px; } }
  @media (min-width: 1440px) {
    .explanation__wrapper {
      width: 1220px;
      padding: 0 110px; } }

.explanation__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: left; }
  @media (min-width: 768px) {
    .explanation__title {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 32px; } }

.explanation__list {
  list-style: none;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0; }
  @media (min-width: 768px) {
    .explanation__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 153px; } }
  @media (min-width: 1440px) {
    .explanation__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 94px; } }

.explanation__item {
  padding: 0;
  margin-bottom: 20px;
  position: relative; }
  .explanation__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738; }
  .explanation__item::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2; }
  .explanation__item:last-child {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .explanation__item {
      min-width: 230px; }
      .explanation__item::before {
        width: 80px;
        height: 80px;
        top: 40px; } }

.explanation__item--useful-nutrients::before {
  background-image: url("../../../img/icon-leaf.svg");
  background-repeat: no-repeat;
  background-position: center; }

@media (min-width: 768px) {
  .explanation__item--useful-nutrients {
    width: 230px; }
    .explanation__item--useful-nutrients::after {
      content: "1"; } }

.explanation__item--powder::before {
  background-image: url("../../../img/icon-tub.svg");
  background-repeat: no-repeat;
  background-position: center; }

@media (min-width: 768px) {
  .explanation__item--powder {
    width: 246px; }
    .explanation__item--powder::after {
      content: "2"; } }

.explanation__item--functional-food::before {
  background-image: url("../../../img/icon-eat.svg");
  background-repeat: no-repeat;
  background-position: center; }

@media (min-width: 768px) {
  .explanation__item--functional-food {
    width: 247px; }
    .explanation__item--functional-food::after {
      content: "3"; } }

.explanation__item--difference::before {
  background-image: url("../../../img/icon-alarm.svg");
  background-repeat: no-repeat;
  background-position: center; }

@media (min-width: 768px) {
  .explanation__item--difference {
    width: 249px; }
    .explanation__item--difference::after {
      content: "4"; } }

.explanation__description {
  margin: 0;
  padding: 0;
  margin-left: 80px;
  text-align: left;
  color: #444444; }
  @media (min-width: 768px) {
    .explanation__description {
      margin-left: 0;
      min-height: 75px;
      margin-top: 151px;
      margin-bottom: 57px;
      font-size: 16px;
      line-height: 24px; } }

.example {
  background-color: #eaeaea;
  position: relative; }
  @media (min-width: 768px) {
    .example {
      background-color: #ffffff; }
      .example::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 462px;
        bottom: 0;
        left: 0;
        background-color: #eaeaea;
        z-index: 0; } }
  @media (min-width: 768px) and (min-width: 1440px) {
    .example::after {
      background-color: #f2f2f2; } }

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 27px 20px 25px 20px; }
  @media (min-width: 768px) {
    .example__wrapper {
      width: 708px;
      padding: 63px 30px 70px 30px;
      display: flex;
      flex-wrap: wrap;
      background-color: #ffffff;
      position: relative; } }
  @media (min-width: 1440px) {
    .example__wrapper {
      width: 1220px;
      padding: 0 110px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      padding-bottom: 75px; } }

.example__title-wrapper {
  width: 280px;
  padding: 27px 20px 0 20px;
  margin: 0 auto;
  background-color: #eaeaea; }
  @media (min-width: 768px) {
    .example__title-wrapper {
      width: 708px;
      padding: 0 30px;
      margin-top: 43px;
      background-color: #ffffff; } }
  @media (min-width: 1440px) {
    .example__title-wrapper {
      width: 1220px;
      padding: 0 110px; } }

.example__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  padding: 0;
  margin: 0; }
  @media (min-width: 768px) {
    .example__title {
      font-size: 60px;
      line-height: 60px; } }
  @media (min-width: 1440px) {
    .example__title {
      max-width: 500px;
      background-color: #ffffff;
      margin-bottom: 76px; } }

.example__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #222222;
  min-width: 100%;
  padding: 0;
  margin: 0; }
  @media (min-width: 768px) {
    .example__text {
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 1440px) {
    .example__text {
      min-width: 440px;
      margin-right: 134px;
      margin-top: 70px;
      z-index: 2; } }

.example__indicators-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 280px;
  margin-top: 25px; }
  @media (min-width: 768px) {
    .example__indicators-wrapper {
      min-width: 708px;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 54px; } }
  @media (min-width: 1440px) {
    .example__indicators-wrapper {
      min-width: 370px;
      margin-right: 204px;
      flex-direction: column;
      margin-top: 69px;
      z-index: 2; } }

.example__indicator-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .example__indicator-list {
      margin-bottom: 55px; } }

.example__indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  text-align: center; }
  @media (min-width: 768px) {
    .example__indicator:not(:last-child) {
      margin-right: 42px; } }

.example__indicator-term {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  width: 122px;
  padding-top: 14px;
  padding-bottom: 14px; }
  @media (min-width: 768px) {
    .example__indicator-term {
      font-size: 30px;
      line-height: 37px;
      padding-top: 15px;
      padding-bottom: 20px;
      width: 162px; } }

.example__indicator-description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  width: 80px;
  transform: translateY(-9px);
  z-index: 2;
  background-color: #eaeaea;
  padding: 0 10px;
  color: #444444; }
  @media (min-width: 768px) {
    .example__indicator-description {
      background-color: #ffffff;
      padding: 0 5px;
      width: 127px;
      font-size: 14px;
      line-height: 14px; } }
  @media (min-width: 1440px) {
    .example__indicator-description {
      background-color: #f2f2f2; } }

.example__costs {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0; }
  @media (min-width: 768px) {
    .example__costs {
      text-align: right;
      font-size: 20px;
      line-height: 20px;
      margin-top: 0;
      width: 178px; } }
  @media (min-width: 1440px) {
    .example__costs {
      display: flex;
      justify-content: space-between;
      width: 330px; } }

.example__slider {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .example__slider {
      z-index: 2; } }
  @media (min-width: 1440px) {
    .example__slider {
      grid-column: 2 / 3;
      grid-row: 1 / 6;
      margin-top: -150px; } }

.example__slide img {
  width: 311px;
  height: 232px;
  -o-object-fit: cover;
     object-fit: cover; }
  @media (min-width: 768px) {
    .example__slide img {
      width: 708px;
      height: 620px; } }
  @media (min-width: 1440px) {
    .example__slide img {
      width: 690px;
      height: 656px; } }

.example__slider-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  padding: 0 11px 2px 11px; }
  @media (min-width: 768px) {
    .example__slider-controls {
      width: 590px; } }

.example__slider-control {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 2px 10px;
  border: none;
  background-color: inherit;
  cursor: pointer; }
  @media (min-width: 768px) {
    .example__slider-control {
      font-size: 20px;
      line-height: 30px; } }

.example__slider-range {
  width: 84px; }
  @media (min-width: 768px) {
    .example__slider-range {
      width: 428px;
      height: 6px; } }

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 26px; }
  @media (min-width: 768px) {
    .contacts__wrapper {
      width: 708px;
      padding: 0 30px;
      padding-top: 63px;
      padding-bottom: 59px; } }
  @media (min-width: 1440px) {
    .contacts__wrapper {
      width: 1220px;
      padding: 0 110px; } }

.contacts__wrapper--with-background {
  background-color: #f2f2f2; }
  @media (min-width: 1440px) {
    .contacts__wrapper--with-background {
      background-color: #ffffff; } }

.contacts__address-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .contacts__address-container {
      padding-left: 42px;
      padding-right: 42px;
      background-color: inherit; } }
  @media (min-width: 1440px) {
    .contacts__address-container {
      min-width: 460px;
      position: absolute;
      top: 95px;
      left: 110px;
      padding: 66px 89px 60px 76px;
      background-color: #ffffff; } }

.contacts__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 140px;
  margin: 0;
  padding: 0; }
  @media (min-width: 768px) {
    .contacts__text {
      font-size: 20px;
      line-height: 21px; } }

.contacts__address {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  max-width: 140px;
  margin: 0;
  padding: 0; }
  @media (min-width: 768px) {
    .contacts__address {
      font-size: 16px;
      max-width: 160px;
      text-align: left;
      display: flex;
      flex-direction: column; } }
  @media (min-width: 1440px) {
    .contacts__address {
      text-align: start; } }

@media (min-width: 768px) {
  .contacts__street {
    margin-bottom: 1rem; } }

.contacts__img-container {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .contacts__img-container {
      width: 768px;
      margin: 0 auto; } }
  @media (min-width: 1440px) {
    .contacts__img-container {
      width: 1440px;
      margin: 0 auto; } }

.contacts__img-container img {
  width: 320px;
  height: 362px; }
  @media (min-width: 768px) {
    .contacts__img-container img {
      width: 768px;
      height: 400; } }
  @media (min-width: 1440px) {
    .contacts__img-container img {
      width: 1440px;
      margin: 0 auto; } }

.contacts__map iframe {
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  height: 362px; }
  @media (min-width: 768px) {
    .contacts__map iframe {
      min-width: 768px;
      height: 400; } }
  @media (min-width: 1440px) {
    .contacts__map iframe {
      min-width: 1440px;
      margin: 0 auto; } }

.page-footer {
  background-color: #f2f2f2; }

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .page-footer__wrapper {
      width: 708px;
      padding: 0 30px;
      flex-direction: row;
      justify-content: space-between; } }
  @media (min-width: 1440px) {
    .page-footer__wrapper {
      width: 1220px;
      padding: 0 110px; } }

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 32px;
  position: relative; }
  .page-footer__logo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9; }
  .page-footer__logo:hover {
    opacity: 0.8; }
  .page-footer__logo:active, .page-footer__logo:focus {
    opacity: 0.6; }
  @media (min-width: 768px) {
    .page-footer__logo::after {
      display: none; } }

.page-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .page-footer__social::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9; }
  @media (min-width: 768px) {
    .page-footer__social::after {
      display: none; } }

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  min-width: 130px;
  padding: 0; }

.social__link:hover svg {
  stroke: #68b738;
  stroke-linecap: round; }

.social__link:active svg,
.social__link:focus svg {
  stroke: #68b738;
  opacity: 0.3; }

@media (min-width: 768px) {
  .social__icon-vk {
    width: 30px;
    height: 22px; } }

@media (min-width: 768px) {
  .social__icon-instagram {
    width: 23px;
    height: 23px; } }

@media (min-width: 768px) {
  .social__icon-fb {
    width: 28px;
    height: 33px; } }

.page-footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px; }
  @media (min-width: 768px) {
    .page-footer__copyright {
      padding-top: 55px;
      padding-bottom: 61px; } }

.copyright__icon-academy {
  fill: #666666; }

.copyright__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  text-decoration: none;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444; }
  .copyright__link:active, .copyright__link:focus {
    opacity: 0.3; }
  .copyright__link:hover svg {
    fill: #68b738; }
  @media (min-width: 768px) {
    .copyright__link {
      width: 163px; } }

.form {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .form {
      width: 630px; } }
  @media (min-width: 1440px) {
    .form {
      width: 1220px;
      padding: 0 110px;
      flex-direction: row; } }

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none; }

.form-parameters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 26px; }
  @media (min-width: 768px) {
    .form-parameters {
      flex-direction: column;
      margin-bottom: 69px; } }
  @media (min-width: 1440px) {
    .form-parameters {
      flex-direction: row; } }

.form-parameters__input-fields {
  border: none;
  padding: 0 0 24px 0;
  margin: 0;
  width: 281px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .form-parameters__input-fields {
      width: 630px; } }
  @media (min-width: 1440px) {
    .form-parameters__input-fields {
      width: 569px; } }

.form__input {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  height: 45px;
  padding: 0 16px 0 16px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  outline: none; }
  .form__input:hover {
    border: 1px solid #cdcdcd; }
  .form__input:focus {
    border: 1px solid #444444; }
  .form__input:focus:invalid {
    border: 1px solid #ff8282; }
  @media (min-width: 768px) {
    .form__input {
      font-size: 20px;
      line-height: 30px;
      padding-left: 19px;
      height: 52px; } }
  @media (min-width: 1440px) {
    .form__input {
      height: 50px; } }

.form__input[type="email"] {
  background-image: url("../img/icon-email.svg");
  background-repeat: no-repeat;
  background-position: center right 15px; }
  .form__input[type="email"]:disabled {
    background-image: url("../img/icon-email-green.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
    border: 2px solid #444444; }
  .form__input[type="email"]:focus:invalid {
    background-image: url("../img/icon-email-red.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
    border: 2px solid #ff8282; }

.form__input[type="tel"] {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center right 15px; }
  .form__input[type="tel"]:disabled {
    background-image: url("../img/icon-phone-green.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
    border: 2px solid #444444; }
  .form__input[type="tel"]:focus:invalid {
    background-image: url("../img/icon-phone-red.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
    border: 2px solid #ff8282; }

.form__label-name {
  margin-right: 14px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px; }
  @media (min-width: 768px) {
    .form__label-name {
      font-size: 20px;
      line-height: 30px; } }

.form-parameters__label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  text-align: left;
  padding: 0;
  margin: 0; }
  .form-parameters__label:not(:last-child) {
    margin-bottom: 14px; }

.form__legend {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 35px 0;
  padding: 0;
  position: relative;
  background-color: #ffffff;
  display: inline-block; }
  .form__legend::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    width: 100vw;
    height: 2px;
    top: 16px;
    z-index: -1;
    left: 100%; }
  @media (min-width: 768px) {
    .form__legend {
      font-size: 36px;
      line-height: 36px;
      width: 512px;
      margin: 0 0 76px 0; }
      .form__legend::after {
        top: 22px; }
      .form__legend::before {
        content: "";
        position: absolute;
        background-color: #68b738;
        width: 100vw;
        height: 2px;
        top: 22px;
        right: 100%;
        margin-right: 40px;
        z-index: -1; } }

.form__legend--contacts {
  width: 200px; }
  @media (min-width: 768px) {
    .form__legend--contacts {
      width: 553px; } }
  @media (min-width: 1440px) {
    .form__legend--contacts {
      width: 553px; } }

.form__legend--comment {
  width: 142px; }
  @media (min-width: 768px) {
    .form__legend--comment {
      width: 219px; } }
  @media (min-width: 1440px) {
    .form__legend--comment {
      width: 222px; } }

.form__legend--additional {
  width: 164px; }
  @media (min-width: 768px) {
    .form__legend--additional {
      width: 252px; } }

.form-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .form-contacts {
      width: 630px;
      margin-bottom: 65px; } }
  @media (min-width: 1440px) {
    .form-contacts {
      flex-direction: row;
      width: 1220px; } }

.form-contacts__label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .form-contacts__label:not(:last-child) {
    margin-bottom: 14px; }
  @media (min-width: 768px) {
    .form-contacts__label {
      flex-direction: row;
      width: 633px; }
      .form-contacts__label:not(:last-child) {
        margin-bottom: 20px; } }
  @media (min-width: 1440px) {
    .form-contacts__label {
      width: 572px; }
      .form-contacts__label:not(:last-child) {
        margin-bottom: 0; } }

.form-parameters__radio-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 22px;
  position: relative;
  width: 630px; }
  .form-parameters__radio-buttons::before {
    content: "";
    position: absolute;
    min-width: 320px;
    height: 1px;
    left: -20px;
    top: 0;
    background-color: #d9d9d9; }
  @media (min-width: 768px) {
    .form-parameters__radio-buttons {
      border: 1px solid #e7e7e7;
      padding-top: 30px;
      padding-bottom: 30px; }
      .form-parameters__radio-buttons::before {
        display: none; } }
  @media (min-width: 1440px) {
    .form-parameters__radio-buttons {
      width: 568px;
      align-self: flex-start; } }

.form-parameters__radio-label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  margin-left: 46px;
  position: relative;
  cursor: pointer;
  display: block; }
  .form-parameters__radio-label:not(:last-child) {
    padding-bottom: 12px; }
  @media (min-width: 768px) {
    .form-parameters__radio-label {
      font-size: 20px;
      line-height: 30px; }
      .form-parameters__radio-label:not(:last-child) {
        padding-bottom: 18px; } }

.form-parameters__radio + .form-parameters__radio-label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 23px;
  height: 23px;
  border: 1px solid #cdcdcd;
  border-radius: 50%; }

.form-parameters__radio:hover + .form-parameters__radio-label::before {
  border-color: #bababa; }

.form-parameters__radio:disabled + .form-parameters__radio-label {
  border-color: #bababa;
  opacity: 0.3; }

.form-parameters__radio:disabled {
  color: #222222;
  opacity: 0.3; }

.form-parameters__radio:checked + .form-parameters__radio-label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 6px;
  width: 11px;
  height: 11px;
  background-color: #68b738;
  border-radius: 50%; }

.form__textarea {
  box-sizing: border-box;
  width: 280px;
  border: 1px solid #e7e7e7;
  padding: 10px 12px 10px 15px;
  margin: 0;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444; }
  .form__textarea:hover {
    border-color: #bababa; }
  .form__textarea:active, .form__textarea:focus {
    border-color: #444444; }
  @media (min-width: 768px) {
    .form__textarea {
      width: 630px;
      font-size: 20px;
      line-height: 30px;
      padding-left: 19px;
      padding-right: 19px; } }
  @media (min-width: 1440px) {
    .form__textarea {
      width: 1220px; } }

.form-additional {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 34px; }
  @media (min-width: 768px) {
    .form-additional {
      margin-bottom: 54px;
      font-size: 20px;
      line-height: 30px; } }

.form-additional__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  @media (min-width: 768px) {
    .form-additional__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -moz-column-gap: 123px;
           column-gap: 123px; } }
  @media (min-width: 1440px) {
    .form-additional__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      -moz-column-gap: 104px;
           column-gap: 104px; } }

.form-additional__label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 46px;
  display: block;
  position: relative; }
  .form-additional__label:not(:last-child) {
    margin-bottom: 25px; }
  @media (min-width: 768px) {
    .form-additional__label {
      font-size: 20px;
      line-height: 30px; } }

.form-additional__checkbox + .form-additional__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd; }

.form-additional__checkbox:hover + .form-additional__label::before {
  border-color: #bababa; }

.form-additional__checkbox:disabled + .form-additional__label::before {
  border-color: #bababa;
  opacity: 0.3; }

.form-additional__checkbox:disabled + .form-additional__label {
  opacity: 0.3; }

.form-additional__checkbox:checked + .form-additional__label::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 14px;
  background-image: url("../img/icon-checked.svg");
  background-repeat: no-repeat;
  top: 10px;
  left: 7px;
  background-position: center; }

.form__bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 32px; }
  @media (min-width: 768px) {
    .form__bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -moz-column-gap: 61px;
           column-gap: 61px; } }
  @media (min-width: 1440px) {
    .form__bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -moz-column-gap: 81px;
           column-gap: 81px; } }

.form__button {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 7px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px; }
  .form__button:hover {
    background-color: #5eaa2f; }
  @media (min-width: 768px) {
    .form__button {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 0; } }

.form__button:active .form__button-text,
.form__button:focus .form__button-text {
  opacity: 0.3; }

.form__footnote {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0;
  margin: 0; }
  @media (min-width: 768px) {
    .form__footnote {
      font-size: 16px;
      text-align: left;
      align-self: center; } }

.catalog__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .catalog__wrapper {
      width: 708px;
      padding: 0 30px; } }
  @media (min-width: 1440px) {
    .catalog__wrapper {
      width: 1220px;
      padding: 0 110px; } }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .catalog__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -moz-column-gap: 60px;
           column-gap: 60px; } }
  @media (min-width: 1440px) {
    .catalog__list {
      grid-template-columns: repeat(4, 1fr);
      -moz-column-gap: 80px;
           column-gap: 80px; } }

.catalog__item {
  width: 280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  margin-top: 19px;
  padding-bottom: 24px;
  position: relative; }
  .catalog__item::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
    right: -20px;
    bottom: 0; }
  @media (min-width: 768px) {
    .catalog__item {
      width: 324px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 40px;
      margin-top: 0;
      margin-bottom: 63px; }
      .catalog__item::after {
        width: 324px;
        height: 430px;
        bottom: 0;
        left: 0;
        background-color: #f2f2f2;
        z-index: -1; } }
  @media (min-width: 1440px) {
    .catalog__item {
      width: 245px; }
      .catalog__item::after {
        width: 245px;
        height: 431px;
        bottom: 0;
        left: 0;
        background-color: #f2f2f2;
        z-index: -1; } }

.catalog-item__img-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .catalog-item__img-container {
      top: 0;
      left: 50%;
      order: -1;
      margin-bottom: 34px; } }
  @media (min-width: 1440px) {
    .catalog-item__img-container {
      margin-bottom: 42px; } }

.catalog-item__img {
  width: 140px;
  height: 112px; }
  @media (min-width: 768px) {
    .catalog-item__img {
      width: 168px;
      height: 200px; } }
  @media (min-width: 1440px) {
    .catalog-item__img {
      width: 172px;
      height: 196px; } }

.catalog-item__title-link {
  text-decoration: none; }

.catalog-item__title {
  grid-column: 2 /3;
  grid-row: 1 / 2;
  width: 76px;
  margin-top: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #222222;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .catalog-item__title {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      width: 159px; } }
  @media (min-width: 1440px) {
    .catalog-item__title {
      line-height: 21px;
      width: 145px; } }

.catalog-item__parameters {
  grid-row: 2 / 3;
  margin-bottom: 22px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #444444; }
  @media (min-width: 768px) {
    .catalog-item__parameters {
      width: 252px;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 33px; } }
  @media (min-width: 1440px) {
    .catalog-item__parameters {
      width: 180px;
      font-size: 16px;
      line-height: 16px; } }

.catalog__button {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px; }
  .catalog__button:hover {
    background-color: #5eaa2f; }
  @media (min-width: 768px) {
    .catalog__button {
      width: 248px; } }
  @media (min-width: 1440px) {
    .catalog__button {
      max-width: 168px; } }

.catalog__button:active .catalog__button-text,
.catalog__button:focus .catalog__button-text {
  opacity: 0.3; }

.catalog-additional__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px; }
  .catalog-additional__button:hover {
    background-color: #5eaa2f; }
  @media (min-width: 768px) {
    .catalog-additional__button {
      width: 100%; } }
  @media (min-width: 1440px) {
    .catalog-additional__button {
      width: 245px; } }

.catalog-additional__button:active .catalog-additional__button-text,
.catalog-additional__button:focus .catalog-additional__button-text {
  opacity: 0.3; }

.parameters-list__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .parameters-list__row {
      border-bottom: 1px solid #cdcdcd;
      padding-bottom: 9px;
      padding-top: 7px; } }

.item-more {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 78px; }
  .item-more::after {
    display: none; }
  @media (min-width: 768px) {
    .item-more {
      margin-top: 51px;
      padding-bottom: 40px;
      background-color: #ffffff;
      border: 2px solid #f2f2f2; } }
  @media (min-width: 1440px) {
    .item-more {
      width: 241px; } }

.item-more__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  position: relative;
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center; }
  .item-more__title::before, .item-more__title::after {
    position: absolute;
    bottom: 44px;
    left: 50%;
    content: "";
    width: 2px;
    height: 30px;
    background-color: #d3d3d3; }
  .item-more__title::before {
    transform: rotate(90deg); }
  @media (min-width: 768px) {
    .item-more__title {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 23px;
      width: 136px; }
      .item-more__title::before, .item-more__title::after {
        height: 60px;
        bottom: 100px; } }
  @media (min-width: 1440px) {
    .item-more__title::before, .item-more__title::after {
      bottom: 100px; } }

.item-more__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin-top: 0;
  margin-bottom: 21px; }
  @media (min-width: 768px) {
    .item-more__text {
      margin-bottom: 87px;
      width: 167px;
      font-size: 16px;
      line-height: 18px; } }

.catalog-button--to-all {
  background-color: #f2f2f2;
  color: #444444; }
  .catalog-button--to-all:hover {
    background-color: #ebebeb; }

.catalog-additional__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .catalog-additional__wrapper {
      width: 708px;
      padding: 0 30px; } }
  @media (min-width: 1440px) {
    .catalog-additional__wrapper {
      width: 1220px;
      padding: 0 110px;
      display: grid;
      grid-template-columns: 895px 1fr;
      -moz-column-gap: 80px;
           column-gap: 80px; } }

.catalog-additional__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 36px 0;
  position: relative;
  width: 248px;
  margin-top: 25px; }
  .catalog-additional__title::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    width: 100vw;
    height: 2px;
    top: 16px;
    z-index: -1;
    left: 100%; }
  @media (min-width: 768px) {
    .catalog-additional__title {
      font-size: 36px;
      line-height: 36px;
      padding-left: 37px;
      width: 338px;
      margin-bottom: 80px; }
      .catalog-additional__title::after {
        top: 22px;
        margin-left: 36px; }
      .catalog-additional__title::before {
        content: "";
        position: absolute;
        background-color: #68b738;
        width: 100vw;
        height: 2px;
        top: 22px;
        z-index: -1;
        right: 100%; } }
  @media (min-width: 1440px) {
    .catalog-additional__title {
      grid-column: 1 / 3; } }

.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .catalog-additional__list {
      width: 100%;
      /*  border: 1px solid $special-grey; */
      margin-bottom: 69px; } }
  @media (min-width: 1440px) {
    .catalog-additional__list {
      grid-column: 1 / 2;
      width: 895px;
      margin-bottom: 86px; } }

.additional-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 19px; }
  @media (min-width: 768px) {
    .additional-item {
      flex-direction: row;
      align-items: center;
      border: 1px solid #cdcdcd;
      padding-top: 26px;
      padding-bottom: 28px;
      padding-left: 38px;
      padding-right: 38px; } }
  @media (min-width: 1440px) {
    .additional-item {
      border: none;
      border-top: 1px solid #cdcdcd;
      border-bottom: 1px solid #cdcdcd;
      padding: 25px 0 25px 0; } }

.additional-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 13px; }
  @media (min-width: 768px) {
    .additional-item__title {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 27px; } }
  @media (min-width: 1440px) {
    .additional-item__title {
      width: 325px;
      margin-bottom: 0; } }

.additional-item___parameters {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin-bottom: 12px;
  border-collapse: collapse; }
  @media (min-width: 768px) {
    .additional-item___parameters {
      width: 230px; } }
  @media (min-width: 1440px) {
    .additional-item___parameters {
      width: 325px;
      margin-bottom: 0; } }

.additional-parameters__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 1440px) {
    .additional-parameters__row {
      width: 325px;
      align-items: flex-start; } }

.additional-parameters__item {
  padding: 0; }
  @media (min-width: 1440px) {
    .additional-parameters__item {
      width: 243px; } }

.additional-parameters__price {
  padding: 0;
  text-transform: uppercase; }
  @media (min-width: 1440px) {
    .additional-parameters__price {
      width: 80px; } }

.gift {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 43px;
  margin-bottom: 35px;
  background-color: #68b738;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  position: relative; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .gift {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
      background-size: cover; } }
  @media (min-width: 768px) {
    .gift {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 78px;
      padding-right: 124px;
      margin-bottom: 76px;
      background-image: url("../img/gift-photo-tablet.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .gift {
      background-image: url("../img/gift-photo-table@2x.jpg");
      background-size: cover; } }
  @media (min-width: 1440px) {
    .gift {
      grid-column: 2 / 3;
      flex-direction: column;
      padding: 56px 0 42px 0;
      margin-bottom: 86px;
      background-image: url("../img/gift-photo-desktop.jpg");
      background-size: cover; } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
    .gift {
      background-image: url("../img/gift-photo-desktop@2x.jpg"); } }

@media (min-width: 768px) {
  .gift__img {
    width: 80px;
    height: 82px; } }

.gift__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  width: 190px; }
  @media (min-width: 768px) {
    .gift__text {
      width: 161px;
      text-align: left; } }
  @media (min-width: 1440px) {
    .gift__text {
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
