.form {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 630px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    flex-direction: row;
  }
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form-parameters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-bottom: 5px;
  }
}

.form-parameters__input-fields {
  border: none;
  padding: 0 0 21px 0;
  margin: 0;
  width: 281px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 630px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
  }
}

.form__input {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $input-border-grey;
  height: 45px;
  padding: 0 16px 0 16px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-grey-darker;
  outline: none;

  &:hover {
    border: 1px solid $special-grey;
  }

  &:focus {
    border: 1px solid $special-grey-darker;
  }

  &:focus:invalid {
    border: 1px solid $status_error;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 15px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    height: 50px;
  }
}

.form__input[type="email"] {
  background-image: url("../img/icon-email.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;

  &:disabled {
    background-image: url("../img/icon-email-green.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
    border: 2px solid $special-grey-darker;
  }

  &:focus:invalid {
    background-image: url("../img/icon-email-red.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
    border: 2px solid $status_error;
  }
}

.form__input[type="tel"] {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;

  &:disabled {
    background-image: url("../img/icon-phone-green.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
    border: 2px solid $special-grey-darker;
  }

  &:focus:invalid {
    background-image: url("../img/icon-phone-red.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
    border: 2px solid $status_error;
  }
}

.form__label-name {
  margin-right: 14px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 22px;
  }
}

.form-parameters__label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-grey-darker;
  text-transform: uppercase;
  text-align: left;
  padding: 0;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }
}

.form__legend {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 30px 0;
  padding: 0;
  position: relative;
  background-color: $white;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    background-color: $basic-green;
    width: 100vw;
    height: 2px;
    top: 16px;
    z-index: -1;
    left: 100%;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 512px;
    margin: 0 0 76px 0;

    &::after {
      top: 22px;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: $basic-green;
      width: 100vw;
      height: 2px;
      top: 22px;
      right: 100%;
      margin-right: 40px;
      z-index: -1;
    }
  }
}

.form__legend--contacts {
  width: 200px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    width: 553px;
    margin-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    width: 553px;
  }
}

.form__legend--comment {
  width: 142px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    width: 219px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    width: 222px;
  }
}

.form-comment {
  margin-bottom: 57px;

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }
}

.form__legend--additional {
  width: 164px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    width: 252px;
    margin-bottom: 62px;
  }
}

.form-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    width: 630px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 1220px;
    margin-bottom: 69px;
  }
}

.form-contacts__label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-grey-darker;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 633px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 572px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.form-parameters__radio-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 29px;
  position: relative;
  width: 630px;

  &::before {
    content: "";
    position: absolute;
    min-width: 320px;
    height: 1px;
    left: -20px;
    top: 0;
    background-color: $form-bar;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $input-border-grey;
    padding-top: 30px;
    padding-bottom: 30px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    align-self: flex-start;
  }
}

.form-parameters__radio-label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-transform: uppercase;
  margin-left: 46px;
  position: relative;
  cursor: pointer;
  display: block;

  &:not(:last-child) {
    padding-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 88px;

    &:not(:last-child) {
      padding-bottom: 23px;
    }
  }
}

.form-parameters__radio + .form-parameters__radio-label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: -5px;
  width: 26px;
  height: 26px;
  border: 1px solid $special-grey;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -60px;
    top: -7px;
  }
}

.form-parameters__radio:hover + .form-parameters__radio-label::before {
  border-color: $input-grey;
}

.form-parameters__radio:disabled + .form-parameters__radio-label {
  border-color: $input-grey;
  opacity: 0.3;
}

.form-parameters__radio:disabled {
  color: $special-dark-grey;
  opacity: 0.3;
}

.form-parameters__radio:checked + .form-parameters__radio-label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: 4px;
  width: 11px;
  height: 11px;
  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: -48px;
    top: 5px;
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 280px;
  border: 1px solid $input-border-grey;
  padding: 10px 12px 10px 15px;
  margin: 0;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-grey-darker;

  &:hover {
    border-color: $input-grey;
  }

  &:active,
  &:focus {
    border-color: $special-grey-darker;
  }

  @media (min-width: $tablet-width) {
    width: 630px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 19px;
    padding-right: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form-additional {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.form-additional__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.form-additional__label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 46px;
  display: block;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 14px;

    &:not(:last-child) {
      margin-bottom: 42px;
    }
  }
}

.form-additional__checkbox + .form-additional__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 29px;
  height: 29px;
  border: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -14px;
    top: -6px;
  }
}

.form-additional__checkbox:hover + .form-additional__label::before {
  border-color: $input-grey;
}

.form-additional__checkbox:disabled + .form-additional__label::before {
  border-color: $input-grey;
  opacity: 0.3;
}

.form-additional__checkbox:disabled + .form-additional__label {
  opacity: 0.3;
}

.form-additional__checkbox:checked + .form-additional__label::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 14px;
  background-image: url("../img/icon-checked.svg");
  background-repeat: no-repeat;
  top: 4px;
  left: 7px;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -14px;
    top: -6px;
  }
}

.form__bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 81px;
  }
}

.form__button {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;

  &:hover {
    background-color: $basic-green-2;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    padding: 10px 0;
  }
}

.form__button:active .form__button-text,
.form__button:focus .form__button-text {
  opacity: 0.3;
}

.form__footnote {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: left;
    align-self: center;
  }
}
