.promo {
  margin: 0;
  padding: 0;
}

.promo__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  text-align: center;
  background-image: url("../img/promo-cat.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px;
  opacity: 0.85;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: none;
    padding-bottom: 0;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    padding-top: 52px;
    background: transparent;
    background-image: url("../img/promo-cat-desktop.jpg");
    background-origin: border-box;
    background-size: contain;
    background-position: top 0 left 720px;
    background-repeat: no-repeat;
    margin-top: -116px;
    z-index: -1;
  }
}

.promo__title {
  color: $white;
  margin: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    color: black;
    text-align: left;
    width: 418px;
    margin-top: 62px;
    margin-left: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 0;
    margin-top: 125px;
  }
}

.promo__slogan {
  margin: 0;
  color: $white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    width: 285px;
    margin-top: 40px;
    margin-left: 87px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 52px;
    margin-top: 42px;
  }
}

.promo__button {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    max-width: 244px;
    margin-top: 0;
    margin-left: 87px;
    z-index: 3;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    align-self: flex-start;
    margin-top: 0;
    padding: 15px 0;
  }
}

.promo__img-container {
  @media (min-width: $tablet-width) {
    order: 10;
  }
}

.promo__img {
  margin-top: 0;
  z-index: 3;
  position: relative;

  @media (min-width: $tablet-width) {
    order: 3;
    width: 709px;
    height: 609px;
    margin-top: -71px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    margin-left: 276px;
    margin-top: -350px;
  }
}
