.promo {
  margin: 0;
  padding: 0;
}

.promo__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  text-align: center;
  background-color: $basic-green;
  opacity: 0.85;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
  }
}

.promo__title {
  color: $white;
  margin: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  margin: 0;
  color: $white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.promo__button {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.promo__img {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .promo__img {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}
