.promo {
  margin: 0;
  padding: 0;
}

.promo__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  text-align: center;
  /* background-image: url("../../../../img/index-background-desktop-2.png"); */
  background-color: $basic-green;
  opacity: 0.85;
}

.promo__wrapper img {
  margin-bottom: 3px;
}

.promo__title {
  color: $white;
  margin: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  margin: 0;
  color: $white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.promo__button {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
