.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    padding-top: 63px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.contacts__wrapper--with-bcg {
  background-color: $basic-grey;
}

.adr-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    padding: 66px 89px 60px 76px;
    background-color: $white;
  }
}

.contacts__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 140px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-left: 42px;
    font-size: 20px;
    line-height: 21px;
  }
}

.contacts__img-container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.contacts__img-container img {
  width: 320px;
  height: 362px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.contacts__address {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $special-grey-darker;
  max-width: 140px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
    font-size: 16px;
    max-width: 160px;
  }
}
